@*@model List<Google.Apis.YouTube.v3.Data.SearchResult>*@
@model List<Rockola.Models.SRC>

@foreach (var item in Model)
{

<div class="row">
    <div class="col-lg-5 ">
        <img width="200" onclick=" player.destroy(); onYouTubeIframeAPIReady('@item.VideoId')" src="http://img.youtube.com/vi/@item.VideoId/mqdefault.jpg" alt="@item.Title">
        </div>
    <div class="col-lg-5">
        @item.Title
       <br>
        <button class="btn btn-success" onclick="addToPlayList('@item.VideoId','@item.ImageUrl','@item.Title');">Add</button>
    </div>
    </div>
    <br />
   

   

   



}

