@model List<Google.Apis.YouTube.v3.Data.SearchResult>

@foreach (var item in Model)
{

    <img  class="img-responsive" onclick=" player.destroy(); onYouTubeIframeAPIReady('@item.Id.VideoId')" src="http://img.youtube.com/vi/@item.Id.VideoId/mqdefault.jpg" alt="@item.Snippet.Title">
    @item.Snippet.Title
    @item.Id.VideoId
  
    <button class="btn btn-block fas fa-list  text-dark col-sm-1" onclick="addToPlayList('@item.Id.VideoId','@item.Snippet.Thumbnails.Default__.Url');"></button>



}

